.post_img img{
    width:100%;
    opacity:0.6;
}
.post_img{
    margin-top: 15px;
    overflow: hidden;
    height:600px;
    background-image: url(../Background.jpg);
    opacity:1;
}
.post_img p{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size:15px;
    font-style:italic;

}
