
:root{
    --font1:'Roboto', sans-serif;
    --font2:'Lunasima', sans-serif;
    --main-bg-color:rgb(189, 189, 153);
}
.font1{
    font-family:var(--font1);
}
.font2{
    font-family:var(--font2);
}
.max-width1 {
    max-width: 80vw;
}

.max-width2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding:2px 3px;
    border-radius:3px;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
    

}

.btn:hover{
    color:beige;
    background-color: var(--main-bg-color);

}
.Form-input{
    padding: 3pX 5pX;
    font-size: 15px;
    border:2px solid black;
    border-radius: 4px;
    margin:10px;
    cursor:pointer;

}

.nav-left img{
    height: 75px;
    border: 1px solid black;
    width: 75px;
    border-radius: 50px;
    
}